<div class="page__layout">
  <mat-stepper #stepper>
    <mat-step [stepControl]="provinceForm">
      <form [formGroup]="provinceForm">
        <ng-template matStepLabel>Select province</ng-template>
        <div class="step-form__wrapper">
          <mat-form-field>
            <mat-label>Province</mat-label>
            <mat-select [formControlName]="'province'">
              @for (option of provinces; track option) {
              <mat-option [value]="option.code">{{ option.name }}</mat-option> }
            </mat-select>
          </mat-form-field>
          <button
            mat-flat-button
            [disabled]="!this.provinceForm.valid"
            (click)="loadCities()"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="cityForm">
      <form [formGroup]="cityForm">
        <ng-template matStepLabel>cityForm</ng-template>
        <div class="step-form__wrapper">
          <mat-form-field>
            <mat-label>prueb</mat-label>
            <input
              matInput
              formControlName="city"
              placeholder="Last name, First name"
              required
            />
          </mat-form-field>
          <div class="step-form__buttons">
            <button type="button" mat-flat-button matStepperPrevious>
              Back
            </button>
            <button type="button" mat-flat-button matStepperNext>Next</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
