.step-form {
  &__wrapper {
    padding: 1rem 0;
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;

    min-width: 25rem;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;

    &--inline {
      display: inline-flex;
      min-width: 25rem;
    }

    & * {
      flex: 1 1 auto;
    }
  }
}

.data-tabs {
  &__wrapper {
    padding: 1rem 0;
  }

  &__grid-title {
    font-weight: bold;
    width: 100%;
  }
}
