<div class="page__layout">
  <app-page-title></app-page-title>
  @if(breakpointService.isHandsetPortrait() | async) {
  <mat-vertical-stepper #stepper linear>
    <mat-step [stepControl]="provinceForm">
      <ng-template matStepLabel>Seleccione una provincia</ng-template>
      <ng-container *ngTemplateOutlet="stepOne" matStepContent></ng-container>
    </mat-step>
    <mat-step [stepControl]="cityForm">
      <ng-template matStepLabel>Seleccione una ciudad</ng-template>
      <ng-container *ngTemplateOutlet="stepTwo" matStepContent></ng-container>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Información de la población</ng-template>
      <ng-container *ngTemplateOutlet="stepThree" matStepContent></ng-container>
    </mat-step>
  </mat-vertical-stepper>
  } @else {
  <mat-stepper #stepper linear>
    <mat-step [stepControl]="provinceForm">
      <ng-template matStepLabel>Seleccione una provincia</ng-template>
      <ng-container *ngTemplateOutlet="stepOne" matStepContent></ng-container>
    </mat-step>
    <mat-step [stepControl]="cityForm">
      <ng-template matStepLabel>Seleccione una ciudad</ng-template>
      <ng-container *ngTemplateOutlet="stepTwo" matStepContent></ng-container>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Información de la población</ng-template>
      <ng-container *ngTemplateOutlet="stepThree" matStepContent></ng-container>
    </mat-step>
  </mat-stepper>
  }
</div>

<ng-template #stepOne>
  <form [formGroup]="provinceForm">
    <div
      class="step-form__wrapper"
      [class.step-form__wrapper--mobile]="
        breakpointService.isHandsetPortrait() | async
      "
    >
      <mat-form-field>
        <mat-label>Provincia</mat-label>
        <mat-select [formControlName]="'province'">
          @for (option of provinces; track option) {
          <mat-option [value]="option.code">{{ option.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button
        type="button"
        mat-flat-button
        [disabled]="!this.provinceForm.valid"
        (click)="stepper.next()"
      >
        Siguiente
      </button>
    </div>
  </form>
</ng-template>

<ng-template #stepTwo>
  <form [formGroup]="cityForm">
    <ng-template matStepLabel>Seleccione una ciudad</ng-template>
    <div
      class="step-form__wrapper"
      [class.step-form__wrapper--mobile]="
        breakpointService.isHandsetPortrait() | async
      "
    >
      <mat-form-field>
        <mat-label>Ciudad</mat-label>
        <input
          type="text"
          matInput
          [formControlName]="'city'"
          [matAutocomplete]="auto"
          placeholder="Ciudad"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="handleCitySelected($event)"
        >
          @for (option of zipCodesFiltered; track option.codi_municipi) {
          <mat-option [value]="option.codi_municipi">{{
            option.nom_municipi
          }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <div class="step-form__buttons">
        <button type="button" mat-flat-button (click)="stepper.previous()">
          Volver
        </button>
        <button
          type="button"
          mat-flat-button
          [disabled]="!this.cityForm.valid"
          (click)="stepper.next()"
        >
          Siguiente
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #stepThree>
  <div
    class="data-tabs__wrapper"
    [class.step-form__wrapper--mobile]="
      breakpointService.isHandsetPortrait() | async
    "
  >
    @if(citySelected) {
    <h4>
      {{ citySelected.nom_municipi }} ({{
        citySelected.codi_postal | joinPostalCodes
      }})
    </h4>
    }
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      @if(formatedPopulationData()) { @for (data of formatedPopulationData();
      track data.id) {
      <mat-tab [label]="data.year">
        <mat-grid-list cols="4" rowHeight="2rem" gutterSize="0">
          @for(row of data.rows; track row) { @for(column of row; track
          column.id) {
          <mat-grid-tile [class.border-bottom]="column.borderBottom">
            @if(column.value) {
            <span
              [class.data-tabs__grid-title]="column.isTitle"
              [class.data-tabs__grid-title--left]="column.isTitleLeft"
              [class.data-tabs__grid-number]="column.isNumber"
              >{{ column.value }}</span
            >}</mat-grid-tile
          >
          } }
        </mat-grid-list>
      </mat-tab>
      } }
    </mat-tab-group>
  </div>
  <div class="step-form__buttons step-form__buttons--inline">
    <button type="button" mat-flat-button (click)="stepper.previous()">
      Volver
    </button>
    <button type="button" mat-flat-button (click)="stepper.reset()">
      Reiniciar
    </button>
  </div>
</ng-template>
