.simple-paginator {
  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;

    &--portrait {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__button-container {
    display: flex;
    gap: 0.5rem;
  }
}
