<div
  class="simple-paginator__container"
  [class.simple-paginator__container--portrait]="
    breakpointService.isHandsetPortrait() | async
  "
>
  <div class="simple-paginator__button-container">
    <button
      *ngIf="showFirstLastPage"
      mat-button
      mat-stroked-button
      [disabled]="firstPage === currentPage"
      (click)="goPage.emit(firstPage)"
    >
      First
    </button>
    <button
      mat-button
      mat-stroked-button
      [disabled]="disablePrevious"
      (click)="goPage.emit(currentPage - 1)"
    >
      Previous
    </button>
  </div>
  <mat-form-field>
    <mat-label>Items per page</mat-label>
    <mat-select
      [value]="pageSize"
      (selectionChange)="handleChangePageSize($event)"
    >
      @for(item of pageSizeOptions; track item) {
      <mat-option [value]="item">{{ item }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="simple-paginator__button-container">
    <button
      mat-button
      mat-stroked-button
      [disabled]="disableNext"
      (click)="goPage.emit(currentPage + 1)"
    >
      Next
    </button>
    <button
      *ngIf="showFirstLastPage"
      mat-button
      mat-stroked-button
      [disabled]="lastPage === currentPage"
      (click)="goPage.emit(lastPage)"
    >
      Last
    </button>
  </div>
</div>
