<div class="page__layout">
  <h5>Spotify API</h5>
  <app-spotify-search-form
    (clear)="handleClear()"
    (search)="handleSearch($event)"
  ></app-spotify-search-form>

  @if(result()) {
  <div class="result__wrapper">
    <h6>
      @if (isArtist()) {
        Artist and related artists
      } @else {
        Albums
      }
    </h6>
    <mat-accordion>
      @for(item of result()?.items; track item) {
      <app-artist-album-data [isArtist]="isArtist()" [info]="item">
      </app-artist-album-data>
      }
    </mat-accordion>
  </div>
  }
</div>
