.artist-album-info {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;

    @media (min-width: 480px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    height: 100%;
  }
}
