<mat-card class="artist-album-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ info.name }}</mat-card-title>
  </mat-card-header>
  @if(image()) {
  <div class="artist-image__wrapper">
    <img
      [src]="image()?.url"
      [width]="image()?.width"
      [height]="image()?.height"
      alt="{{ info.name }}"
    />
  </div>
  }
  <mat-card-content>
    @if(genres.length) {
    <div class="genres__wrapper">
      <div class="genres__title">Genres</div>
      <div class="genres__list">
        @for(genre of genres; track genre) {
        <mat-chip>{{ genre }}</mat-chip>
        }
      </div>
    </div>
    } @if(isArtist) {
    <div class="artist-info__wrapper">
      <div class="artist-info__item">Popularity:</div>
      <div class="artist-info__value">
        {{ popularity() | number : "1.0-0" : "es-ES" }}
      </div>
      <div class="artist-info__item">Followers:</div>
      <div class="artist-info__value">
        {{ followers() | number : "1.0-0" : "es-ES" }}
      </div>
    </div>
    }
  </mat-card-content>
  <mat-card-actions class="view-spotify__wrapper">
    @if(spotifyUrl) {
    <button mat-button (click)="openSpotify()">View on Spotify</button>
    }
  </mat-card-actions>
</mat-card>
