<mat-card class="artist-album-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ info.name }}</mat-card-title>
  </mat-card-header>
  @if(image()) {
  <div class="artist-image__wrapper">
    <img
      [src]="image()?.url"
      [width]="image()?.width"
      [height]="image()?.height"
      alt="{{ info.name }}"
    />
  </div>
  }
  <mat-card-content>
    @if(genres.length) {
    <div class="genres__wrapper">
      <div class="genres__title">Generos</div>
      <div class="genres__list">
        @for(genre of genres; track genre) {
        <mat-chip>{{ genre }}</mat-chip>
        }
      </div>
    </div>
    } @if(isArtist) {
    <div class="item-info__wrapper">
      <div class="item-info__item">Popularidad:</div>
      <div class="item-info__value">
        {{ popularity() | number : "1.0-0" : "es-ES" }}
      </div>
      <div class="item-info__item">Seguidores:</div>
      <div class="item-info__value">
        {{ followers() | number : "1.0-0" : "es-ES" }}
      </div>
    </div>
    } @else {
    <div class="item-info__wrapper">
      <div class="item-info__item">Fecha de lanzamiento:</div>
      <div class="item-info__value">
        {{ releaseDate | date : "mediumDate" : "" : "es-ES" }}
      </div>
      <div class="item-info__item">Número de pistas:</div>
      <div class="item-info__value">
        {{ totalTracks | number : "1.0-0" : "es-ES" }}
      </div>
    </div>
    @if(artistsList.length) {
    <div class="item-info__wrapper">
      <div class="item-info__title">Artistas</div>
      @for(artist of artistsList; track artist) {
      <div class="item-info__item item-info__item--align-center">
        {{ artist.name }}
      </div>
      <div class="item-info__value">
        <button mat-button (click)="openUrl(artist.url)">Ver en Spotify</button>
      </div>
      }
    </div>
    } }
  </mat-card-content>
  <mat-card-actions class="view-spotify__wrapper">
    @if(spotifyUrl) {
    <button mat-button (click)="openUrl(spotifyUrl)">Ver en Spotify</button>
    }
  </mat-card-actions>
</mat-card>
