.artist-album-card {
  height: 100%;

  & .mat-mdc-card-content {
    height: 100%;
  }
}
.genres {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  &__title {
    font-weight: bold;
  }

  &__list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

.artist-image {
  &__wrapper {
    padding: 0.5rem 0;

    & img {
      width: 100%;
      height: auto;
    }
  }
}

.view-spotify {
  &__wrapper {
    justify-content: flex-end;
  }
}

.artist-info {
  &__wrapper {
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &__item {
    font-weight: bold;
    text-align: start;
  }

  &__value {
    text-align: end;
  }
}
