.artist-album-card {
  height: 100%;

  & .mat-mdc-card-content {
    height: 100%;
  }
}
.genres {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    font-weight: bold;
  }

  &__list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

.header-info {
  &__wrapper {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    min-height: 2rem;
  }

  &__item {
    & .mat-badge-content {
      width: auto;
    }
  }
}

.artist-image {
  &__wrapper {
    padding: 0.5rem 0;

    & img {
      width: 100%;
      height: auto;
    }
  }
}

.view-spotify {
  &__wrapper {
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-end;
  }
}
