<mat-expansion-panel>
  <mat-expansion-panel-header>Filtro</mat-expansion-panel-header>
  @if(form) {
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Type to search"
        formControlName="name"
        (keyup.enter)="search()"
      />
      @if (form.controls.name.hasError('required')) {
      <mat-error>Nombre es <strong>requerido</strong></mat-error>
      }
    </mat-form-field>
  </form>
  }
  <mat-action-row>
    <button type="button" mat-button [disabled]="!form.dirty" (click)="reset()">
      Reiniciar
    </button>
    <button
      type="button"
      mat-button
      [disabled]="!form.valid"
      (click)="search()"
    >
      Buscar
    </button>
  </mat-action-row>
</mat-expansion-panel>
