.filter {
  &__wrapper {
    padding-bottom: 1rem;
  }
}

.table {
  &__wrapper {
    min-height: 20rem;
    max-height: 40rem;
    overflow: auto;
    width: calc(100vw - 3rem);
    padding-bottom: 1rem;

    & .mat-column-_id {
      width: 2rem !important;
    }

    & .mat-column-name {
      width: auto !important;
    }

    & .mat-column-sourceUrl,
    & .mat-column-imageUrl {
      width: 10rem !important;
      max-width: 10rem !important;
      min-width: 10rem !important;
    }

    & .mat-column-expand {
      width: 5rem !important;
      max-width: 5rem !important;
      min-width: 5rem !important;
    }
  }
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row {
  cursor: pointer;

  &:not(.example-expanded-row) {
    &:hover {
      background: whitesmoke;
    }

    &:active {
      background: #efefef;
    }
  }
}

td.expand-button {
  display: flex;
  justify-content: end;
  align-items: center;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
    flex: 1 1 auto;
    padding: 1rem 0;

    &--portrait {
      flex-direction: column;
    }

    & .mat-mdc-card-header {
      padding: 0.5rem 0.5rem 0;
    }

    & .mat-mdc-card-content {
      padding: 0 0.5rem;
    }

    & .mat-mdc-card-content:last-child {
      padding-bottom: 0.5rem;
    }
  }
}
