<div class="page__layout">
  <app-page-title></app-page-title>
  @if (form) {
  <div class="form__wrapper">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Elija una fecha</mat-label>
        <input
          matInput
          [min]="minDate()"
          [max]="maxDate()"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
    <div></div>
  </div>
  }
</div>
